.jumbotron{
	background-color: #54c70c;
	text-align: center;	
}
.jumbotron h1{
	font-family: 'Passion One', cursive;
}
.jumbotron p{
	font-family: 'Fjalla One', sans-serif;
}
.theme-icon{
	width: 100px;
	background-color: #ffc443;

}
.theme-container{
	font-family: 'Passion One', cursive;
	background-color: #ffc443;
	text-align: center;
}
button:active{
	background-color: red;
}
button{
	background-color: #ffc443;
}
.game-area{
	width: 100%;
	border: 4px solid black;
}
.panel {
	text-align: center;
	color: blue;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bolder;
	font-size: 20px;
}
